#navbar{
    background-color:#0f1111;
    height: 60px;
    color: white;
}
button{
    background-color: yellow;
    display: inline-block;
}
#logo{
    color: yellow;
    font-size: 25px;
}
a{
    margin-right: 200px;
    text-decoration: none;
    color: white;
    font-family: "poppins";
}
    
    
    
    
    #red{
        display:flex;
        justify-content: center;    /* Center horizontally */
  align-items: center;
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 50%;
    margin: 12px;
}
    #blue{
        display:flex;
        justify-content: center;    /* Center horizontally */
  align-items: center; 
    height: 100px;
    width: 100px;
    background-color: yellow;
    border-radius: 50%;
    margin: 12px;
    text-align: center;
    
    
}
    #green{
        display:flex;
        justify-content: center;    /* Center horizontally */
  align-items: center;
    height: 100px;
    width: 100px;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    background-color: green;
    border-radius: 50%;
    margin: 12px;
}


.content1{
width: 100px;
height: 100px;
border: 2px solid rgb(28, 13, 13);
display: inline-block;
background-color: rgba(0, 0, 255,0.5);
color: white;


}
.content2{
width: 100px;
height: 100px;
border: 2px solid rgb(28, 13, 13);
display: inline-block;
background-color: rgba(0, 0, 255,0.7);
color: white;

}
.content3{
width: 100px;
height: 100px;
border: 2px solid rgb(28, 13, 13);
display: inline-block;
background-color: rgba(0, 0, 255,1);
color: white;

}
p{
    display: block;
    width: 500px;
    text-align: justify;
    background-color: rgba(0, 0, 255,0.5);
    visibility: hidden;
    
    
}
footer{
    background-color: #0f1111;
    color: white;
    text-align: center;
    margin-top: 50px;
    height: 50px;
}